{% extends 'base.html' %}

{% block title %}Ask List{% endblock %}


{% block menu %}
    {% for field in category %}

           Поиск покатегории: <a  href="#">{{ field }} </a>

    {% endfor %}
{% endblock %}

{% block content %}
    <h1>Title</h1>

    {% for product in products %}
        {% if product.amount > 1 %}



                 <span style="text-transform: capitalize; font-size: 30px">{{ product.name }}   </span><br>
                {{ product.price }}    {{ product.category }}
                <p><a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "product_view" product.pk %}">more </a>|
                    <a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "update" product.pk %}">update </a>|
                <a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "del" product.pk %}">Delete </a></p>
<hr>
        {% endif %}




    {% endfor %}
{% endblock %}