{% extends 'base.html' %}

{% block title %}Ask List{% endblock %}


{% block menu %}
    {% for field in category %}

        Поиск покатегории: <a href="#">{{ field }} </a>

    {% endfor %}
{% endblock %}

{% block content %}
    <h1>Product list</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    {% for product in products %}




            <span style="text-transform: capitalize; font-size: 30px">{{ product.name }} {{ product.amount }}  </span><br>
            {{ product.price }}    {{ product.get_category_display }}
            <p><a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "product_view" product.pk %}">more </a>|
                <a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "update" product.pk %}">update </a>|
                <a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "del" product.pk %}">Delete </a>|
            <a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url "basket_add" product.pk %}">add in basket</a></p>
            <hr>





    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}